In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Read large file with constraints
data = pd.read_csv('cust_seg.csv', low_memory = False)
data

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1

In [3]:
# Set view option to view all the columns
pd.set_option('display.max_columns', None)
data

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,28.0,MADRID,1.0,55516.98,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,15.0,"CORUÃ‘A, A",1.0,75654.84,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,15.0,"CORUÃ‘A, A",1.0,80634.87,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,S,NaN,KFC,N,1.0,28.0,MADRID,1.0,57818.46,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,11.0,CADIZ,1.0,85903.44,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1

In [4]:
# Rename Spanish columns to English for personal convenience
data.rename(columns= {'fecha_dato':'Date of Transaction',
                      'ncodpers':'Customer code',
                      'ind_empleado':'Employee index',
                      'pais_residencia':'Customer\'s Country residence', 
                      'sexo':'Customer\'s sex', 
                      'age':'Age', 
                      'fecha_alta':'Date of first contract(account was created)', 
                      'ind_nuevo':'New customer Index',
                      'antiguedad':'Customer seniority (in months)', 
                      'indrel':'Customer type', 
                      'ult_fec_cli_1t':'Last date as primary customer', 
                      'indrel_1mes':'Customer type at the beginning of the month', 
                      'tiprel_1mes':'Customer relation type at the beginning of the month',
                      'indresi':'Residence index', 
                      'indext':'Foreigner index', 
                      'conyuemp':'Spouse index', 
                      'canal_entrada':'Channel used by the customer to join', 
                      'indfall':'Deceased index', 
                      'tipodom':'Address type', 
                      'cod_prov':'Province code (customer\'s address)', 
                      'nomprov':'Province name', 
                      'ind_actividad_cliente':'Activity index',
                      'renta':'Gross income of the household', 
                      'ind_ahor_fin_ult1':'Saving Account', 
                      'ind_aval_fin_ult1':'Guarantees', 
                      'ind_cco_fin_ult1':'Current Account', 
                      'ind_cder_fin_ult1':'Derivada Account', 
                      'ind_cno_fin_ult1':'Payroll Account', 
                      'ind_ctju_fin_ult1':'Junior Account', 
                      'ind_ctma_fin_ult1':'MÃ¡s particular Account',
                      'ind_ctop_fin_ult1':'Particular Account', 
                      'ind_ctpp_fin_ult1':'Particular Plus Account', 
                      'ind_deco_fin_ult1':'Short-term deposits', 
                      'ind_deme_fin_ult1':'Medium-term deposits', 
                      'ind_dela_fin_ult1':'Long-term deposits', 
                      'ind_ecue_fin_ult1':'e-account', 
                      'ind_fond_fin_ult1':'Funds', 
                      'ind_hip_fin_ult1':'Mortgage',
                      'ind_plan_fin_ult1':'Pensions',
                      'ind_pres_fin_ult1':'Loans', 
                      'ind_reca_fin_ult1':'Taxes', 
                      'ind_tjcr_fin_ult1':'Credit Card', 
                      'ind_valo_fin_ult1':'Securities', 
                      'ind_viv_fin_ult1':'Home Account', 
                      'ind_nomina_ult1':'Payroll', 
                      'ind_nom_pens_ult1':'Pensions', 
                      'ind_recibo_ult1':'Direct Debit'}, inplace= True)
data

,Unnamed: 0,Date of Transaction,Customer code,Employee index,Customer's Country residence,Customer's sex,Age,Date of first contract(account was created),New customer Index,Customer seniority (in months),Customer type,Last date as primary customer,Customer type at the beginning of the month,Customer relation type at the beginning of the month,Residence index,Foreigner index,Spouse index,Channel used by the customer to join,Deceased index,Address type,Province code (customer's address),Province name,Activity index,Gross income of the household,Saving Account,Guarantees,Current Account,Derivada Account,Payroll Account,Junior Account,MÃ¡s particular Account,Particular Account,Particular Plus Account,Short-term deposits,Medium-term deposits,Long-term deposits,e-account,Funds,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Pensions,Direct Debit
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,28.0,MADRID,1.0,55516.98,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,15.0,"CORUÃ‘A, A",1.0,75654.84,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,15.0,"CORUÃ‘A, A",1.0,80634.87,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,S,NaN,KFC,N,1.0,28.0,MADRID,1.0,57818.46,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,1.0,NaN,1.0,A,S,N,NaN,KFC,N,1.0,11.0,CADIZ,1.0,85903.44,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1

In [5]:
data['Customer\'s sex'] = data['Customer\'s sex'].replace({'H': 'M', 'V':'F'})
data['Residence index'] = data['Residence index'].replace({'S': 'Y'})
data['Foreigner index'] = data['Foreigner index'].replace({'S': 'Y'})
data['Deceased index'] = data['Deceased index'].replace({'S':'Y'})

In [6]:
# Check for duplicate rows
data['Date of Transaction'].value_counts()

2015-01-28    625457
2015-02-28    374543
Name: Date of Transaction, dtype: int64

In [7]:
# Drop default column and columns with high number of missing values
# Address type and Date of Transaction columns have low variabilities
data.drop(columns = ['Unnamed: 0', 'Last date as primary customer', 'Spouse index'], inplace = True)
data.drop(['Address type'], axis=1, inplace = True)
data.drop(['Date of Transaction'], axis=1, inplace = True)

In [8]:
data['Gross income of the household'] = data['Gross income of the household'].fillna(data['Gross income of the household'].mean()) 
data['Employee index'] = data['Employee index'].fillna('N') #not employee
data['New customer Index'] = data['New customer Index'].fillna(1)
data['Age'] = data['Age'].fillna(data['Age'].mode()) #most frequent value

In [9]:
data.loc[:, data.dtypes == 'object'] =\
    data.select_dtypes(['object'])\
    .apply(lambda x: x.astype('category'))

In [10]:
# Check for missing values
data.isnull().sum()

Customer code                                               0
Employee index                                              0
Customer's Country residence                            10782
Customer's sex                                          10786
Age                                                         0
Date of first contract(account was created)             10782
New customer Index                                          0
Customer seniority (in months)                              0
Customer type                                           10782
Customer type at the beginning of the month             10782
Customer relation type at the beginning of the month    10782
Residence index                                         10782
Foreigner index                                         10782
Channel used by the customer to join                    10861
Deceased index                                          10782
Province code (customer's address)                      17734
Province name                                           17734
Activity index                                          10782
Gross income of the household                               0
Saving Account                                              0
Guarantees                                                  0
Current Account                                             0
Derivada Account                                            0
Payroll Account                                             0
Junior Account                                              0
MÃ¡s particular Account                                      0
Particular Account                                          0
Particular Plus Account                                     0
Short-term deposits                                         0
Medium-term deposits                                        0
Long-term deposits                                          0
e-account                                                   0
Funds                                                       0
Mortgage                                                    0
Pensions                                                    0
Loans                                                       0
Taxes                                                       0
Credit Card                                                 0
Securities                                                  0
Home Account                                                0
Payroll                                                  5402
Pensions                                                 5402
Direct Debit                                                0
dtype: int64

In [11]:
# Set data types of several columns

data['Age'] = pd.to_numeric(data['Age'], errors = 'coerce')
data['Customer seniority (in months)'] = pd.to_numeric(data['Customer seniority (in months)'], errors = 'coerce')
#data['Date of Transaction'] = pd.to_datetime(data['Date of Transaction'])
data['Date of first contract(account was created)'] = pd.to_datetime(data['Date of first contract(account was created)'])

In [12]:
print(data.dtypes)

Customer code                                              int64
Employee index                                          category
Customer's Country residence                            category
Customer's sex                                          category
Age                                                      float64
Date of first contract(account was created)             category
New customer Index                                       float64
Customer seniority (in months)                           float64
Customer type                                            float64
Customer type at the beginning of the month              float64
Customer relation type at the beginning of the month    category
Residence index                                         category
Foreigner index                                         category
Channel used by the customer to join                    category
Deceased index                                          category
Province code (customer's address)                       float64
Province name                                           category
Activity index                                           float64
Gross income of the household                            float64
Saving Account                                             int64
Guarantees                                                 int64
Current Account                                            int64
Derivada Account                                           int64
Payroll Account                                            int64
Junior Account                                             int64
MÃ¡s particular Account                                     int64
Particular Account                                         int64
Particular Plus Account                                    int64
Short-term deposits                                        int64
Medium-term deposits                                       int64
Long-term deposits                                         int64
e-account                                                  int64
Funds                                                      int64
Mortgage                                                   int64
Pensions                                                   int64
Loans                                                      int64
Taxes                                                      int64
Credit Card                                                int64
Securities                                                 int64
Home Account                                               int64
Payroll                                                  float64
Pensions                                                 float64
Direct Debit                                               int64
dtype: object

In [13]:
data

,Customer code,Employee index,Customer's Country residence,Customer's sex,Age,Date of first contract(account was created),New customer Index,Customer seniority (in months),Customer type,Customer type at the beginning of the month,Customer relation type at the beginning of the month,Residence index,Foreigner index,Channel used by the customer to join,Deceased index,Province code (customer's address),Province name,Activity index,Gross income of the household,Saving Account,Guarantees,Current Account,Derivada Account,Payroll Account,Junior Account,MÃ¡s particular Account,Particular Account,Particular Plus Account,Short-term deposits,Medium-term deposits,Long-term deposits,e-account,Funds,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Pensions,Direct Debit
0,1375586,N,ES,M,35.0,2015-01-12,0.0,6.0,1.0,1.0,A,Y,N,KHL,N,29.0,MALAGA,1.0,87218.10000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,1050611,N,ES,F,23.0,2012-08-10,0.0,35.0,1.0,1.0,I,Y,Y,KHE,N,13.0,CIUDAD REAL,0.0,35548.74000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,1050612,N,ES,F,23.0,2012-08-10,0.0,35.0,1.0,1.0,I,Y,N,KHE,N,13.0,CIUDAD REAL,0.0,122179.11000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,1050613,N,ES,M,22.0,2012-08-10,0.0,35.0,1.0,1.0,I,Y,N,KHD,N,50.0,ZARAGOZA,0.0,119775.54000,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,1050614,N,ES,F,23.0,2012-08-10,0.0,35.0,1.0,1.0,A,Y,N,KHE,N,50.0,ZARAGOZA,1.0,139646.15094,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1183296,N,ES,M,27.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,28.0,MADRID,1.0,55516.98000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999996,1183295,N,ES,M,56.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,15.0,"CORUÃ‘A, A",1.0,75654.84000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999997,1183294,N,ES,F,39.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,15.0,"CORUÃ‘A, A",1.0,80634.87000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999998,1183293,N,ES,F,36.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,Y,KFC,N,28.0,MADRID,1.0,57818.46000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999999,1183289,N,ES,M,38.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,11.0,CADIZ,1.0,85903.44000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1

In [14]:
data.bfill(inplace = True)

In [15]:
data.isnull().sum()

Customer code                                           0
Employee index                                          0
Customer's Country residence                            0
Customer's sex                                          0
Age                                                     0
Date of first contract(account was created)             0
New customer Index                                      0
Customer seniority (in months)                          0
Customer type                                           0
Customer type at the beginning of the month             0
Customer relation type at the beginning of the month    0
Residence index                                         0
Foreigner index                                         0
Channel used by the customer to join                    0
Deceased index                                          0
Province code (customer's address)                      0
Province name                                           0
Activity index                                          0
Gross income of the household                           0
Saving Account                                          0
Guarantees                                              0
Current Account                                         0
Derivada Account                                        0
Payroll Account                                         0
Junior Account                                          0
MÃ¡s particular Account                                  0
Particular Account                                      0
Particular Plus Account                                 0
Short-term deposits                                     0
Medium-term deposits                                    0
Long-term deposits                                      0
e-account                                               0
Funds                                                   0
Mortgage                                                0
Pensions                                                0
Loans                                                   0
Taxes                                                   0
Credit Card                                             0
Securities                                              0
Home Account                                            0
Payroll                                                 0
Pensions                                                0
Direct Debit                                            0
dtype: int64

In [17]:
data.to_csv(r'C:\Users\kojoa\Desktop\Data Glacier\Group Project\finaldata')

In [18]:
pd.read_csv('finaldata')

,Unnamed: 0,Customer code,Employee index,Customer's Country residence,Customer's sex,Age,Date of first contract(account was created),New customer Index,Customer seniority (in months),Customer type,Customer type at the beginning of the month,Customer relation type at the beginning of the month,Residence index,Foreigner index,Channel used by the customer to join,Deceased index,Province code (customer's address),Province name,Activity index,Gross income of the household,Saving Account,Guarantees,Current Account,Derivada Account,Payroll Account,Junior Account,MÃ¡s particular Account,Particular Account,Particular Plus Account,Short-term deposits,Medium-term deposits,Long-term deposits,e-account,Funds,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Pensions.1,Direct Debit
0,0,1375586,N,ES,M,35.0,2015-01-12,0.0,6.0,1.0,1.0,A,Y,N,KHL,N,29.0,MALAGA,1.0,87218.10000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,1,1050611,N,ES,F,23.0,2012-08-10,0.0,35.0,1.0,1.0,I,Y,Y,KHE,N,13.0,CIUDAD REAL,0.0,35548.74000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2,1050612,N,ES,F,23.0,2012-08-10,0.0,35.0,1.0,1.0,I,Y,N,KHE,N,13.0,CIUDAD REAL,0.0,122179.11000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,3,1050613,N,ES,M,22.0,2012-08-10,0.0,35.0,1.0,1.0,I,Y,N,KHD,N,50.0,ZARAGOZA,0.0,119775.54000,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,4,1050614,N,ES,F,23.0,2012-08-10,0.0,35.0,1.0,1.0,A,Y,N,KHE,N,50.0,ZARAGOZA,1.0,139646.15094,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,1183296,N,ES,M,27.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,28.0,MADRID,1.0,55516.98000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,1183295,N,ES,M,56.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,15.0,"CORUÃ‘A, A",1.0,75654.84000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,1183294,N,ES,F,39.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,15.0,"CORUÃ‘A, A",1.0,80634.87000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,1183293,N,ES,F,36.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,Y,KFC,N,28.0,MADRID,1.0,57818.46000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,1183289,N,ES,M,38.0,2013-09-25,0.0,22.0,1.0,1.0,A,Y,N,KFC,N,11.0,CADIZ,1.0,85903.44000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1